<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hola mundo</title>
	<link rel="stylesheet" href="publicos/css/main.css">
</head>
<body>
	<header>
		<h1>Hola</h1>
		<h4>Este es un ejemplo de un  crud hecho con express, mongodb, ajax <small>y mucho amor</small></h4>
	</header>
	<main>
	<button id="formulario">Crear</button>
	<button id="mostrar">Listar</button>
	
	<form id="crear" class="hide">
		<label for="usuario">Nuevo usuario</label>
		<input type="text" placeholder="Nombre" name="usuario">
		<button>Guardar</button>
	</form>

	<div id="usuarios">
		<%if(usuarios.length == 0) {%>
			no hay usuarios
		<% } else {%>
			  <% usuarios.forEach(function(usuario){ %>	
					<div class="usuario" id="usuario-<%= usuario.idShort %>">
						<div>
							<strong class="id"><%= usuario._id %></strong>
						</div>
						<div>
							<input type="text" class="nombre" value="<%= usuario.nombre %>">
						</div>
						<button class="idEliminar" idAttr="<%= usuario._id %>">
							Eliminar
						</button>
						<button class="idActualizar" idAttr="<%= usuario._id %>">
							Actualizar
						</button>
					</div>
				<% }); %>
		<% } %>
	</div>

<template id="nuevoUsuarioTemplate">
	<div class="usuario">
		<div>
			<strong class="id"></strong>
		</div>
		<div>
			<input type="text" class="nombre">
		</div>
		<button class="idEliminar">
			Eliminar
		</button>
		<button class="idActualizar">
			Actualizar
		</button>
	</div>
</template>
	</main>
	<script src="publicos/js/main.js"></script>
</body>
</html>